<template>
    <div class="bg-gradient-to-r from-cyan-500 to-blue-500 min-h-screen h-full">
        <div class="h-screen w-screen">

            <div class="w-full p-3">
                <div class="text-center text-white font-bold text-2xl mt-6">Synchronised-Chess</div>
            </div>
            <div class="flex flex-wrap items-center justify-center">
                <Board></Board>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Board from '@/components/Board.vue'
    export default {
        components: {
            Board,
        },
        data()  {
            return {
                selectedLetterDepart: 'a', // Valeur par défaut pour la lettre
                selectedNumberDepart: '1',  // Valeur par défaut pour le chiffre
                selectedLetterArrive: 'a', // Valeur par défaut pour la lettre
                selectedNumberArrive: '1'  // Valeur par défaut pour le chiffre
            };
        },
        methods: {
        }
    }
</script>