<template>
    <canvas id="board" width="800" height="800" @click="sendMouseClick"></canvas>
</template>

<script setup lang="ts">
    import { reactive, onMounted } from 'vue'
    import SockJS from "sockjs-client";
    import * as Stomp from "webstomp-client";
    import { Board } from '@/assets/board';
    import { getSystemErrorMap } from 'util';

    const API_URL = import.meta.env.VITE_API_URL;
    const WS_DEBUG = import.meta.env.VITE_WS_DEBUG;
    const USE_STUB = import.meta.env.VITE_USE_STUB;

    let board: Board;
    let stompClient: Stomp.Client;
    let uid: String;
    
    // ======================================
    // EVENTS
    // ======================================
    
    onMounted(async () => {
        board = new Board("board", sendMove);

        if (USE_STUB) {
            window.addEventListener("beforeunload", disconnect);
            connect();
            console.log("test connect");
        } else {
            board.drawChessboard();
            console.log("test no stub");
        }
    });
    
    
    // ======================================
    // WEBSOCKET
    // ======================================
    
    function connect() {
    
        let socket = new SockJS(`http://${API_URL}/game`);
        
        stompClient = Stomp.over(socket, { debug: WS_DEBUG });
        
        stompClient.connect({}, function (frame) {
            
            stompClient.subscribe('/user/topic/join', async function (object: { body: string; }) {
                const infos = JSON.parse(object.body);
                if(infos.playing) {
                    // console.log('received :', infos.color + " " + infos.uid);
                    if(board && infos.color == "BLACK") {
                        board.changeSide();
                        console.log("You're the black player");
                    }
                    else {
                        console.log("You're the white player");
                    }
                    uid = infos.uid;
                    board.status = "WAITING";
                }
                if(board.status == "CONNECTING") board.status = "SPECTATING";
            });
                    
            // Once the connection is established request to join !
            console.log(`sending join request`);
            stompClient.send("/ws/join");

            // continuously request the board
            stompClient.subscribe('/user/topic/board', async function (object: { body: string; }) {
                const receivedJson = JSON.parse(object.body);
                if(board.status != "SPECTATING") board.status = receivedJson.status;
                board.updatePieces(receivedJson.board);
            });

            setInterval(() => {
                stompClient.send("/ws/board");
            }, 100);
                
        });  
    }

    function sendMouseClick(e: any) {
        // console.log("mouseClick");
        board.handleMouseClick(e);
    }

    
    function disconnect() {
        if (stompClient) {
            stompClient.disconnect();
            console.log("===> Disconnected");
        }
    }

    // pourquoi cette fonction ? le serv vérifie de son coté on envois juste un move ?
    /*function moveValidation(move: any): void {
        stompClient.send('/app/movement', JSON.stringify(move));
    }*/

    function sendMove(move: any): void {
        console.log(`sending move ${move.from.col},${move.from.row} -> ${move.to.col},${move.to.row}`);
        let message = {
            move: move,
            uuid: uid
        };
        stompClient.send('/ws/movement', JSON.stringify(message));
    }

</script>